#navigation.menu-two .navbar-nav > li:nth-child(1) a:hover, a:focus {
    background-color: white;    
    filter: blur(20px);
}

#navigation.menu-two .navbar-nav > li:nth-child(2) a:hover, a:focus {
    background-color: #E6CDFF;
    filter: blur(20px);
}

#navigation.menu-two .navbar-nav > li:nth-child(3) a:hover, a:focus {
    background-color: #D2A6FF;
    filter: blur(20px);
}

#navigation.menu-two .navbar-nav > li:nth-child(4) a:hover, a:focus {
    background-color: #C58BFF;
    filter: blur(20px);
}

#navigation.menu-two .navbar-nav > li:nth-child(5) a:hover, a:focus {
    background-color: #C488FF;
    filter: blur(20px);
}

#navigation.menu-two .navbar-nav > li:nth-child(6) a:hover, a:focus {
    background-color: #B76AFF;
    filter: blur(20px);
}

#navigation.menu-two .navbar-nav > li:nth-child(7) a:hover, a:focus {
    background-color: #AD52FF;
    filter: blur(20px);
}

#navigation.menu-two .navbar-nav > li:nth-child(8) a:hover, a:focus {
    background-color: #8F17FF;
    filter: blur(20px);
}